@import '../../../assets/variables';
.cm-msg-card {
  border: 1px solid lighten($form-primary-color, 40%);
  padding: 20px;
  border-radius: 5px;
  display: grid;
  &--footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  button {
    width: 100%;
    max-width: 150px;
  }
}