@import '../../assets/variables';

.cm-page-layout {
  &--container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: [header] auto [content] auto;
  }

  &--header {
    grid-row-start: header;
    grid-row-end: header;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 16%), 0 2px 0 rgb(0 0 0 / 11%);
    padding: 0 20px;
  }

  &--content {
    grid-row-start: content;
    grid-row-end: content;
    padding: 20px;
    display: flex;
    justify-content: center;

    &--container {
      width: 100%;
      max-width: 1200px;
      overflow-x: auto;
    }
  }
}