@import '../../assets/variables';
.cm-page-header {
  height: 100%;
  display: flex;
  justify-content: center;
  &--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
      margin-left: 15px;
    }
  }
  &--actions {
    grid-column-start: right;
    grid-column-end: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &--container {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: [left] 40% [middle] auto [right] 40%;
    grid-template-rows: auto;
    padding: 20px 0;
  }
  &--mobile-menu{
    &--wrapper {
      display: none;
    }
  }
}

@media (max-width: $sm) {
  .cm-page-header {
    &--container {
      grid-template-columns: [left] auto [middle] auto [right] 80px;
      grid-template-rows: [row1] auto [row2] auto
    }
    &--left {
      h1 {
        font-size: 24px;
      }
    }
    &--actions {
      grid-column-start: left;
      grid-column-end: right;
      grid-row-start: row2;
    }
    &--mobile-menu{
      &--wrapper {
        grid-column-start: right;
        grid-column-end: right;
        grid-row-start: row1;
        grid-row-end: row2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      &--icon {
        font-size: 28px;
        margin-right: 20px;
        color: $bg-color--primary;
        padding: 8px 11px;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: lighten($bg-color--primary, 80%);
        }
      }
    }
  }
}