$btn-color--primary: linear-gradient(to bottom, #79cb45 0%,#6ebe3b 100%);
$btn-color--secondary: linear-gradient(to bottom, #363b3d 0%, #313537 100%);

$bg-color--primary: #1b1f2b;
$bg-color--secondary: #68ad3b;

$form-primary-color: #505b7c;
$form-secondary-color: #6ebe3b;


$xs: 480px;
$sm: 768px;
$md: 998px;
$lg: 1200px;
$xl: 1500px;

$transition: 0.3s